<center>
	<%= link_to delete_meets_path, method: :post, data: {confirm: "A jeni te sigurt"}, remote: true do %>
		<button type="button" class="btn btn-danger" style="margin-top: 15px">Pastroni Te Dhenat</button>
	<% end %>
</center>